body{
    display: flex;
    background-color: #000;
    color: #fff;
    font-family: cursive;
    flex-direction: row;
}

div{
    border: #fff double;
    padding: 1vh;
    margin: 1vh;
}

.leftbar{
    width: 10vw;
    height: 93vh
}

.main{
    width: 90vw;
    
    
    justify-content: center;
}

.sample{
    margin: 2vh;
    padding: 0;
}

.rightbar{
    display: none;
}

input{
    width: 97%;
    height: 1vh;
    border-radius: 5vh;
    margin: 1vh;
    padding: 1vh;
}