#userprofile {
    width: calc(100% - 200px);
    height: fit-content;
    padding: 15px;
    background:linear-gradient(#006933, #161616);
    position: absolute;
    left: 200px;
}

.avatar img{
    image-rendering: auto;
    aspect-ratio: 1/1;
    object-fit: cover;
    width: 150px;
    border: 2px solid;
    border-radius: 50%;
    backface-visibility: hidden;
    transform: translateZ(0);
}

.avatar i {
    color:#eee;
    background-color: #121212;
    padding: 6px;
    border: 1px solid #eee;
    border-radius: 50%;
    position: absolute;
    top: 35px;
    left: 140px;
    cursor: pointer;
}

.user-avatar {
    display: flex;
    align-items: center;
    gap: 18px; 
}

.bio{
    width: 500px;
    text-align: justify;
}

#user-description {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.grid {
    margin-top: 5px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;   
    width: 300px;
}

.subtitle {
    font-weight: 500;
    font-size: 16px;
}

.description {
    font-weight: 400;
    font-size: 15px;
    margin-top: 10px;
}

#user-preferences {
    display: flex;
    align-items: center;
    gap: 100px;
}

.card{
    font-size: 14px;
    color: #121212;
    background-color: #eee;
    width: fit-content;
    padding: 6px;
    font-weight: 700;
    border-radius: 10px;
}