/* :root{
    --font-color: #111
} */

html{
    /* height: 100%;
    width: 100%;
    background-color: #111111;
    font-family: monospace; */
    color: aliceblue;
}

body{
    /* height: 100%; */
    /* margin: 0; */
    padding: 0;
    /* display: flex;
    justify-content: space-evenly;
    flex-direction: row; */
}




.main{
    /* overflow-y: scroll; */
    display: block;
    position: absolute;
    right: 0;
    width: 80vw;
}

#waveform{
    margin: 2rem;
}

.buttoncontainer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.slidercontainer{
    display: flex;
    flex-direction: column;
}

#volumeValue, #speedValue{
    display: inline-block;
    width: 2.5rem;
}

#timeIndicator{
    display: inline-block;
    width: 6rem;
}

.actionbutton{
    height: 4rem;
    width: 4rem;
    margin: 1rem;
    background-color: aliceblue;
    border-radius: 1rem;
    border: none;
    background-repeat: no-repeat;
    transition: 150ms linear;
}
.actionbutton:hover{
    background-color: #eeeeee;
}
.actionbutton:active{
    transform: translateY(0.25rem);
}

#playpause {background-image: url(img/play.png);}
#loop {background-image: url(img/loopoff.png);}
#wfstyle {background-image: url(img/styleon.png);}

/* 
#throbber{
    height: 8rem;
    width: 8rem;
} */